<div *ngFor="let team of teams">
  <fieldset>
    <legend>Tým {{team.name}}</legend>
    <fieldset>
      <legend>Zdroje</legend>
    <table>
      <thead>
        <tr>
          <th>Penize</th>
          <th>Drevo</th>
          <th>Kamen</th>
          <th>Cihla</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{team.resources.money}}</td>
          <td>{{team.resources.wood}}</td>
          <td>{{team.resources.stone}}</td>
          <td>{{team.resources.brick}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Budovy</legend>
    <table>
      <thead>
        <tr>
          <th>Budova</th>
          <th>Přínos dolarů</th>
          <th>Přínos dřeva</th>
          <th>Přínos kamenů</th>
          <th>Přínos cihel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let building of team.buildings">
          <td>{{building.name}}</td>
          <td>{{building.income.money}}</td>
          <td>{{building.income.wood}}</td>
          <td>{{building.income.stone}}</td>
          <td>{{building.income.brick}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="addIncome(team)">Přidat přínosy</button>
  </fieldset>
  <fieldset>
    <legend>Přidat výhru</legend>
    <input type="number" [(ngModel)]="winPrice">
    <button (click)="addPrice(team)">Přidat</button>
  </fieldset>
  <fieldset>
    <legend>Trh</legend>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Surovina</th>
          <th>Cena</th>
          <th>Cena s tržištěm</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of marketResources">
          <td><a (click)="buyResource(team, res)">+</a></td>
          <td>{{res.name}}</td>
          <td>{{res.price}}</td>
          <td>{{res.discountPrice}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Koupit budovu</legend>
    <table>
      <thead>
        <tr>
          <th>Koupit</th>
          <th>Budova</th>
          <th>Cena dolarů</th>
          <th>Cena dřeva</th>
          <th>Cena kamenů</th>
          <th>Cena cihel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let building of buildings">
          <td><a (click)="buy(team, building)">koupit</a></td>
          <td>{{building.name}}</td>
          <td>{{building.price.money}}</td>
          <td>{{building.price.wood}}</td>
          <td>{{building.price.stone}}</td>
          <td>{{building.price.brick}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
  <fieldset>
    <legend>Posunout den</legend>
  </fieldset>

  <fieldset>
    <legend>Záznam</legend>
    <p *ngFor="let item of log">{{item}}</p>
  </fieldset>
</fieldset>
</div>